html{
    scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
    background-color: rgb(255, 217, 159);
    font-family: "Candara", "Courier New", monospace;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}
a{
    color: black;
    text-decoration: none;
    justify-content: right;
    
}
.profile{
    padding: 50px;
    margin-left: 20px;
    border-radius: 50%;
     
   
    /* transition: all 1.0s ease-in; */
}
.profile.active{
    rotate: 0deg;
   
   
}
span{

    animation: color-change 1.0s ease-in;
}
@keyframes color-change{
    0%{
       
        
    }
    100%{
        color:rgb(7, 32, 116);

    }
}

.box{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    margin-bottom: 2px;
    padding: 2%;
    border-radius: 30px;
    grid-template-columns: auto auto;
    transition: all;
    transition-duration: 2s;
    margin-top: 700px;
    opacity: 0;
}

.box.active{
margin-top: 100px;
opacity:100%;
}
.box:hover{
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
}
.meetingYou {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:rgb(63, 63, 63);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 100px;
    margin-bottom: 2px;
    padding: 2%;
    border-radius: 30px;
    grid-template-columns: auto auto;
   color:white;
}
.hello{
    text-align: left;
    font-size: 30px;
    height:8px;
    color: rgb(255, 217, 159);

}
.box2{
    
    align-items: center;
   justify-content: center;
   display: block;
    background-color: white;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    margin-bottom: 2px;
    padding-left: 40px;
    border-radius: 30px;
    transition: all;
    transition-duration: 1s;
    height: 75%;

}
.description{
    grid-column: 1 / span 1;
    padding-right: 80px;
    line-height: 2
}

.mainTitle{
padding: 0;;
font-size: 25px;    

}
header{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding:  10px 10px;
padding-left: 20px;
padding-right: 20px;
color:black;


position: fixed;
width: 100%;

margin-right: 10px;
transition: all 0.2s ease-in;

}
.header-scroll{
    background-color: rgb(255, 217, 159);
    color:black;
}

ul{
    list-style: none;
}
.mainLink{
    display: flex;
    column-gap: 15px;
   margin-right: 50px;

}
h1{
    text-align: center;
}
.titleBox{
    display:grid;
    grid-template-columns: auto auto;
border: 2px solid black;
border-top: none;
border-left: none;
border-right: none;
padding-bottom: 1%;
}
a::after{
    content: "";
    display:block;
    padding-bottom: 2px;
    border-radius: 30px;
    border-bottom: 3px solid rgb(22, 47, 89);
    width:0%;
    transition: all .2s ease-in;
    }
a:hover::after{
    content: "";
    display:block;
    padding-bottom: 2px;
    border-radius: 30px;
    border-bottom: 3px solid rgb(22, 47, 89);
    width:100%;
}

.intro{
    display:grid;
    grid-template-columns: auto auto;
    padding-top: 100px;
    color: rgb(29, 29, 29);
   justify-content: center;
    font-size: 20px;
}

.welcomeTo{
    width: 100%;
    text-align:left;
    justify-content: left;
    margin-top: 100px;
    border-right: 2px solid rgb(29, 29, 29);;
    margin-right: 30px;
    height: 200px;
    padding-top: 20px;
    /* transition: all 1.0s ease-in; */
    animation: on-load 1.0s ease-in;
    
    
}
@keyframes on-load{
    0%{
        margin-right: 300px;
       opacity: 0%;
    }
    50%{
       
        opacity: 50%;
    }
    100%{
       margin-right: 30px;
      opacity: 100%;
    }
}
.welcomeTo.active{
    text-align: left;
   color:white;
   text-align: center;
   width: 100%;
   opacity: 100%;
  
}

.box2 .container{
    display: grid;
   
    grid-template-columns: auto auto;
    background-color: white;
    border-radius: 30px;

}
 .box2 .container .image{

   grid-template-columns: auto auto auto;
    
    justify-content: center;
    align-items: center;
   
    
}
img{
    display: block;
    border-radius: 30px;
    animation:img-load 1.0s ease-in;
}
@keyframes img-load{
    0%{
        margin-left: 100px;
        opacity: 0%;
    }
    100%{
        margin-left: 30px;
        opacity: 100%;
    }
}
.line{
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-top: solid 1px black;
    grid-column: 1 / span 2;
}
.items{
    font-size: 20px;
}
.project1{
    margin-top: 500px;
    visibility: hidden;
    margin-left: 40px;
    display: grid;

    grid-template-columns: auto auto;
    margin-bottom: 100px;
    transition: all 1.0s ease-in;
   
}
.project1.active{
    margin-top: 100px;
    visibility: visible;
    opacity: 1.0;
}
.project2{
    margin-top: 500px;
    visibility: hidden;
    margin-left: 40px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 200px;
    transition: all 1.0s ease-in;
    opacity: 0;
}
.project2.active{
    margin-top: 0px;
    visibility: visible;
    opacity: 1.0;
}
.project3{
    margin-top: 500px;
    visibility: hidden;
    margin-left: 40px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 200px;
    transition: all 1.0s ease-in;
    opacity: 0;
}
.project3.active{
    margin-top: 0px;
    visibility: visible;
    opacity: 1.0;
}

 .img1{
        display: block;
      
      
      width: 700px;
      height: 400px;
      
    }
    .myPortfolio{
        color: transparent;
        margin-bottom: 500px;
        transition: all 1.0s ease-in;
       
        
    }
    .myPortfolio.active{
        color: white;
    }
section{
    margin-top: 400px;
    margin-bottom: 400px;
    
}
.backgroundImage{
    background-color: rgb(63, 63, 63);
    background-image: linear-gradient(rgb(63,63,63),rgb(22, 47, 89));
}
.myHeader1{
    padding-top: 100px;
    font-size: 80px;
    color: rgb(255, 217, 159);
    transition: all 1s ease-in;
    opacity: 0%;
}
.myHeader1.active{
 margin-top: 0px;
 opacity: 100%;
}
.line1{
    border-top: solid 3px  rgb(255, 217, 159);
    margin-left: 100%;
    margin-right: 100%;
    transition: all 1.0s ease-in;
}
.line1.active{
    margin-left: 20%;
    margin-right: 20%;
}
.social{
    grid-column: 1 / span 2;
    /* justify-content: space-between; */
    margin-left: 30px;
    margin-right: 30px;
    
}
.socialItems{
    display: grid;
    grid-template-columns: auto auto auto;
    

}
button{
    width: 100px;
    border-radius: 30px;
    color: white;
    background-color: rgb(203, 20, 20);
    text-decoration: double;


}
.myHeader2{
    margin-top: 0px;
    font-size: 80px;
    color: rgb(255, 217, 159);
    transition: all 1s ease-in;
    
}
.line2{
    border-top: solid 1px white;
    margin-left: 20%;
    margin-right: 20%;
}

.imgContainer{

    grid-template-columns: auto auto;
    width: 600px;
    height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.imgList{
    align-items: center;
    justify-content: center;
    
}
.imgItem{
    
   
    width:200px;
    height:100px;
    margin:10px;
   transition: all 0.5s;
   background-size: cover;
   background-position: center;
}
.imgItem:hover{
height:300px;
width:500px;
cursor: pointer;
}
footer{
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 30px;
    margin-bottom: 8%;
}
